$eatQuad: lightgreen;
$eatButton: rgb(82, 211, 82);
$eatButtonText: rgb(0, 65, 0);
$playQuad: rgb(252, 177, 255);
$playButton: rgb(255, 142, 255);
$playButtonText: rgb(97, 0, 97);
$fightQuad: lightpink;
$fightButton: rgb(255, 123, 143);
$fightButtonText:rgb(95, 33, 44);
$sleepQuad: rgb(130, 218, 253);
$sleepButton: rgb(38, 194, 255);
$sleepButtonText: rgb(0, 60, 100);

$background: lightseagreen;
