@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: lightseagreen;
}

#app {
  display: flex;
}

#eat {
  background-color: lightgreen;
  padding: 10px;
  text-align: center;
}
