@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: lightseagreen;
}

#app {
  display: grid;
  grid-template-columns: 49.5% 49.5%;
  grid-template-rows: 175px 175px; 
  grid-column-gap: 1%;
  grid-row-gap: 10px;
  grid-template-areas: 
  "eat play"
  "fight sleep";
}

#eat {
  background-color: lightgreen;
  padding: 10px;
  text-align: center;
  grid-area: eat;
}

#play {
  background-color: rgb(252, 177, 255);
  padding: 10px;
  text-align: center;
  grid-area: play;
}

#fight {
  background-color: lightpink;
  padding: 10px;
  text-align: center;
  grid-area: fight;
}

#sleep {
  background-color: rgb(130, 218, 253);
  padding: 10px;
  text-align: center;
  grid-area: sleep;
}
